apps/n8n/workflows/github-issue-to-goal.json
{
  "name": "Enhanced GitHub Issue Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-issue",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-opened",
      "name": "Filter Opened Issues",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 400]
    },
    {
      "parameters": {
        "jsCode": "const issue = $json.issue;\nconst labels = (issue.labels || []).map(l => l.name.toLowerCase());\nconst title = (issue.title || '').toLowerCase();\nconst body = (issue.body || '').toLowerCase();\nconst text = `${title} ${body}`;\n\n// Label overrides take priority\nif (labels.includes('bug') || labels.includes('defect')) {\n  return [{ json: { ...issue, _type: 'bug', _repo: $json.repository.full_name } }];\n}\nif (labels.includes('enhancement') || labels.includes('feature') || labels.includes('feature-request')) {\n  return [{ json: { ...issue, _type: 'feature', _repo: $json.repository.full_name } }];\n}\nif (labels.includes('question') || labels.includes('help wanted') || labels.includes('support')) {\n  return [{ json: { ...issue, _type: 'question', _repo: $json.repository.full_name } }];\n}\n\n// Keyword heuristics\nconst bugKeywords = ['bug', 'error', 'crash', 'broken', 'fail', 'not working', 'exception', 'regression', 'fix', '500', '404', 'undefined', 'null pointer', 'stack trace'];\nconst featureKeywords = ['feature', 'request', 'add support', 'implement', 'enhancement', 'would be nice', 'proposal', 'rfc', 'new'];\nconst questionKeywords = ['how to', 'how do', 'question', 'help', 'is it possible', 'can i', 'does it', 'documentation', 'example', 'tutorial'];\n\nconst bugScore = bugKeywords.filter(k => text.includes(k)).length;\nconst featureScore = featureKeywords.filter(k => text.includes(k)).length;\nconst questionScore = questionKeywords.filter(k => text.includes(k)).length;\n\nlet type = 'feature'; // default\nif (bugScore > featureScore && bugScore > questionScore) type = 'bug';\nelse if (questionScore > bugScore && questionScore > featureScore) type = 'question';\n\nreturn [{ json: { ...issue, _type: type, _repo: $json.repository.full_name } }];"
      },
      "id": "classify-issue",
      "name": "Classify Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "outputKey": "bug",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._type }}",
                    "rightValue": "bug",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "feature",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._type }}",
                    "rightValue": "feature",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "question",
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json._type }}",
                    "rightValue": "question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "id": "switch-type",
      "name": "Switch by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/search/issues?q={{ encodeURIComponent($json.title) }}+repo:{{ $json._repo }}+is:issue+state:open&per_page=5",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 10000
        }
      },
      "id": "check-duplicates",
      "name": "Check Duplicate Bugs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Classify Issue').item.json._repo }}/issues/{{ $('Classify Issue').item.json.number }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ labels: ['bug'] }) }}",
        "options": {}
      },
      "id": "label-bug",
      "name": "Label Bug",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_SERVER_URL || 'http://localhost:3100' }}/api/agents/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: '[BUG] Create a high-priority goal from this bug report:\\n\\nTitle: ' + $('Classify Issue').item.json.title + '\\nDescription: ' + ($('Classify Issue').item.json.body || 'No description') + '\\nURL: ' + $('Classify Issue').item.json.html_url + (($('Check Duplicate Bugs').item.json.total_count > 1) ? '\\n\\nNote: Possible duplicates found — check existing issues.' : ''), userId: 'n8n-automation', conversationId: 'n8n-github-issues' }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "create-bug-goal",
      "name": "Create Bug Goal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "agent-server-auth",
          "name": "Agent Server API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json._repo }}/issues/{{ $json.number }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ labels: ['enhancement'] }) }}",
        "options": {}
      },
      "id": "label-feature",
      "name": "Label Feature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AGENT_SERVER_URL || 'http://localhost:3100' }}/api/agents/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: '[FEATURE] Create a medium-priority goal from this feature request:\\n\\nTitle: ' + $('Classify Issue').item.json.title + '\\nDescription: ' + ($('Classify Issue').item.json.body || 'No description') + '\\nURL: ' + $('Classify Issue').item.json.html_url, userId: 'n8n-automation', conversationId: 'n8n-github-issues' }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "create-feature-goal",
      "name": "Create Feature Goal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "agent-server-auth",
          "name": "Agent Server API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json._repo }}/issues/{{ $json.number }}/labels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ labels: ['question'] }) }}",
        "options": {}
      },
      "id": "label-question",
      "name": "Label Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Classify Issue').item.json._repo }}/issues/{{ $('Classify Issue').item.json.number }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ body: 'Thanks for your question! 👋\\n\\nHere are some resources that might help:\\n- [Documentation](https://github.com/' + $('Classify Issue').item.json._repo + '#readme)\\n- [Existing Discussions](https://github.com/' + $('Classify Issue').item.json._repo + '/issues?q=is%3Aissue+label%3Aquestion)\\n\\nA team member will follow up if more context is needed.' }) }}",
        "options": {}
      },
      "id": "auto-reply-question",
      "name": "Auto-Reply to Question",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1350, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge node — collects results from all 3 branches\n// Determine which branch produced this result\nconst classify = $('Classify Issue').item.json;\nconst type = classify._type;\n\nconst badges = { bug: '🐛 Bug', feature: '✨ Feature', question: '❓ Question' };\nconst colors = { bug: 15548997, feature: 3447003, question: 16776960 };\n\nconst embed = {\n  title: `${badges[type] || '📋 Issue'}: ${classify.title}`,\n  description: (classify.body || 'No description').substring(0, 200),\n  url: classify.html_url,\n  color: colors[type] || 3447003,\n  timestamp: new Date().toISOString(),\n  fields: [\n    { name: 'Type', value: type, inline: true },\n    { name: 'Issue', value: `#${classify.number}`, inline: true },\n    { name: 'Author', value: classify.user?.login || 'unknown', inline: true },\n  ],\n  footer: { text: `Classified by n8n pipeline` },\n};\n\nif (type === 'bug') {\n  const dupCount = 0; // Will be enriched if available\n  embed.fields.push({ name: 'Action', value: 'High-priority goal created, labeled `bug`', inline: false });\n} else if (type === 'feature') {\n  embed.fields.push({ name: 'Action', value: 'Medium-priority goal created, labeled `enhancement`', inline: false });\n} else {\n  embed.fields.push({ name: 'Action', value: 'Auto-replied with docs pointer, labeled `question`', inline: false });\n}\n\nreturn [{ json: { embed } }];"
      },
      "id": "format-notification",
      "name": "Format Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: [$json.embed] }) }}",
        "options": {}
      },
      "id": "notify-discord",
      "name": "Notify Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 500]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [{ "node": "Filter Opened Issues", "type": "main", "index": 0 }]
      ]
    },
    "Filter Opened Issues": {
      "main": [
        [{ "node": "Classify Issue", "type": "main", "index": 0 }]
      ]
    },
    "Classify Issue": {
      "main": [
        [{ "node": "Switch by Type", "type": "main", "index": 0 }]
      ]
    },
    "Switch by Type": {
      "main": [
        [{ "node": "Check Duplicate Bugs", "type": "main", "index": 0 }],
        [{ "node": "Label Feature", "type": "main", "index": 0 }],
        [{ "node": "Label Question", "type": "main", "index": 0 }]
      ]
    },
    "Check Duplicate Bugs": {
      "main": [
        [{ "node": "Label Bug", "type": "main", "index": 0 }]
      ]
    },
    "Label Bug": {
      "main": [
        [{ "node": "Create Bug Goal", "type": "main", "index": 0 }]
      ]
    },
    "Create Bug Goal": {
      "main": [
        [{ "node": "Format Notification", "type": "main", "index": 0 }]
      ]
    },
    "Label Feature": {
      "main": [
        [{ "node": "Create Feature Goal", "type": "main", "index": 0 }]
      ]
    },
    "Create Feature Goal": {
      "main": [
        [{ "node": "Format Notification", "type": "main", "index": 0 }]
      ]
    },
    "Label Question": {
      "main": [
        [{ "node": "Auto-Reply to Question", "type": "main", "index": 0 }]
      ]
    },
    "Auto-Reply to Question": {
      "main": [
        [{ "node": "Format Notification", "type": "main", "index": 0 }]
      ]
    },
    "Format Notification": {
      "main": [
        [{ "node": "Notify Discord", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "github" },
    { "name": "automation" },
    { "name": "triage" }
  ]
}
