apps/n8n/workflows/weekly-digest.json
{
  "name": "Weekly Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Monday 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO || 'iansduncan-oss/ai-cofounder' }}/commits?since={{ new Date(Date.now() - 7 * 86400000).toISOString() }}&per_page=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-commits",
      "name": "Fetch Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $env.GITHUB_REPO || 'iansduncan-oss/ai-cofounder' }}/actions/runs?created=>{{ new Date(Date.now() - 7 * 86400000).toISOString().split('T')[0] }}&per_page=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-deploys",
      "name": "Fetch Deploy Runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "github-token",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AGENT_SERVER_URL || 'http://localhost:3100' }}/api/errors/summary?hours=168",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-errors",
      "name": "Fetch Error Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "agent-server-auth",
          "name": "Agent Server API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AGENT_SERVER_URL || 'http://localhost:3100' }}/api/usage?period=week",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 15000
        }
      },
      "id": "fetch-usage",
      "name": "Fetch Usage Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 800],
      "credentials": {
        "httpHeaderAuth": {
          "id": "agent-server-auth",
          "name": "Agent Server API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const commits = $('Fetch Commits').item.json;\nconst deploys = $('Fetch Deploy Runs').item.json;\nconst errors = $('Fetch Error Summary').item.json;\nconst usage = $('Fetch Usage Stats').item.json;\n\nconst repo = process.env.GITHUB_REPO || 'iansduncan-oss/ai-cofounder';\n\n// --- 1. Commits grouped by conventional prefix ---\nconst commitList = Array.isArray(commits) ? commits : [];\nconst grouped = {};\nfor (const c of commitList) {\n  const msg = c.commit?.message?.split('\\n')[0] || 'Unknown';\n  const match = msg.match(/^(\\w+)[(!:]/);\n  const prefix = match ? match[1] : 'other';\n  if (!grouped[prefix]) grouped[prefix] = [];\n  grouped[prefix].push(msg);\n}\n\nconst commitLines = [];\nconst prefixOrder = ['feat', 'fix', 'refactor', 'chore', 'docs', 'test', 'ci', 'other'];\nfor (const prefix of prefixOrder) {\n  if (grouped[prefix] && grouped[prefix].length > 0) {\n    commitLines.push(`**${prefix}** (${grouped[prefix].length})`);\n    grouped[prefix].slice(0, 5).forEach(m => commitLines.push(`  • ${m}`));\n    if (grouped[prefix].length > 5) commitLines.push(`  • ... and ${grouped[prefix].length - 5} more`);\n    delete grouped[prefix];\n  }\n}\nfor (const [prefix, msgs] of Object.entries(grouped)) {\n  if (msgs.length > 0) {\n    commitLines.push(`**${prefix}** (${msgs.length})`);\n    msgs.slice(0, 3).forEach(m => commitLines.push(`  • ${m}`));\n    if (msgs.length > 3) commitLines.push(`  • ... and ${msgs.length - 3} more`);\n  }\n}\nif (commitLines.length === 0) commitLines.push('No commits this week');\n\n// --- 2. Deploy stats ---\nconst runs = deploys.workflow_runs || [];\nconst totalRuns = runs.length;\nconst successRuns = runs.filter(r => r.conclusion === 'success').length;\nconst failedRuns = runs.filter(r => r.conclusion === 'failure').length;\nconst successRate = totalRuns > 0 ? ((successRuns / totalRuns) * 100).toFixed(1) : '0';\n\n// --- 3. Errors ---\nconst errorList = errors.errors || errors.summary || [];\nconst totalErrors = errors.totalErrors || errors.total || 0;\nconst errorLines = [];\nif (totalErrors > 0) {\n  errorLines.push(`**${totalErrors}** total errors`);\n  errorList.slice(0, 5).forEach(e => {\n    errorLines.push(`  • ${e.message || e.error || 'Unknown'} (×${e.count || 1})`);\n  });\n} else {\n  errorLines.push('No errors this week 🎉');\n}\n\n// --- 4. Cost summary ---\nconst totalTokens = (usage.totalInputTokens || 0) + (usage.totalOutputTokens || 0);\nconst totalCost = ((usage.totalCostMicrodollars || 0) / 1_000_000).toFixed(2);\nconst requestCount = usage.requestCount || 0;\nconst models = usage.byModel || [];\nconst modelLines = models.slice(0, 5).map(m => {\n  const cost = (m.costMicrodollars / 1_000_000).toFixed(4);\n  return `  • **${m.model}**: ${m.requests} req, $${cost}`;\n});\n\n// --- Compare link ---\nconst weekAgo = new Date(Date.now() - 7 * 86400000).toISOString().split('T')[0];\nconst today = new Date().toISOString().split('T')[0];\n\n// --- Build embed ---\nconst embed = {\n  title: '📊 Weekly Digest',\n  color: 3447003,\n  timestamp: new Date().toISOString(),\n  fields: [\n    { name: `📝 Commits (${commitList.length})`, value: commitLines.join('\\n').substring(0, 1024), inline: false },\n    { name: '🚀 Deploys', value: `${totalRuns} runs: ${successRuns} ✅ ${failedRuns} ❌ — **${successRate}%** success rate`, inline: false },\n    { name: '🐛 Errors (7d)', value: errorLines.join('\\n').substring(0, 1024), inline: false },\n    { name: '💰 Cost', value: `**$${totalCost}** | ${requestCount.toLocaleString()} requests | ${totalTokens.toLocaleString()} tokens`, inline: false },\n  ],\n  footer: { text: `Week of ${weekAgo} to ${today}` },\n};\n\nif (modelLines.length > 0) {\n  embed.fields.push({ name: '📈 By Model', value: modelLines.join('\\n'), inline: false });\n}\n\n// Compare link\nembed.fields.push({ name: '🔗 Links', value: `[GitHub Compare](https://github.com/${repo}/compare/main@{${weekAgo}}...main@{${today}})`, inline: false });\n\n// Slack-compatible text version\nconst slackText = [\n  '*📊 Weekly Digest*',\n  `*Commits:* ${commitList.length} | *Deploys:* ${totalRuns} (${successRate}% success) | *Errors:* ${totalErrors} | *Cost:* $${totalCost}`,\n  `<https://github.com/${repo}/compare/main@{${weekAgo}}...main@{${today}}|View on GitHub>`,\n].join('\\n');\n\nreturn [{ json: { embed, slackText } }];"
      },
      "id": "format-digest",
      "name": "Format Weekly Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ embeds: [$json.embed] }) }}",
        "options": {}
      },
      "id": "post-discord",
      "name": "Post to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.slackText }) }}",
        "options": {}
      },
      "id": "post-slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 600]
    }
  ],
  "connections": {
    "Every Monday 9 AM": {
      "main": [
        [
          { "node": "Fetch Commits", "type": "main", "index": 0 },
          { "node": "Fetch Deploy Runs", "type": "main", "index": 0 },
          { "node": "Fetch Error Summary", "type": "main", "index": 0 },
          { "node": "Fetch Usage Stats", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Commits": {
      "main": [
        [{ "node": "Format Weekly Digest", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Deploy Runs": {
      "main": [
        [{ "node": "Format Weekly Digest", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Error Summary": {
      "main": [
        [{ "node": "Format Weekly Digest", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Usage Stats": {
      "main": [
        [{ "node": "Format Weekly Digest", "type": "main", "index": 0 }]
      ]
    },
    "Format Weekly Digest": {
      "main": [
        [
          { "node": "Post to Discord", "type": "main", "index": 0 },
          { "node": "Post to Slack", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "digest" },
    { "name": "scheduled" },
    { "name": "reporting" }
  ]
}
